@import url(https://rawgit.com/siku2/InScripts/master/scripts/MAL%2B/styles/arrow.css);
/*Change your backgrounds here*/

/*CURRENTLY WATCHING*/

body[data-query*='"status":1'] {
  background-image: url("https://i.imgur.com/l7WvIBc.jpg");
}

/*COMPLETED*/

body[data-query*='"status":2'] {
  background-image: url("https://i.imgur.com/l7WvIBc.jpg");
}

/*ON HOLD*/

body[data-query*='"status":3'] {
  background-image: url("https://i.imgur.com/l7WvIBc.jpg");
}

/*DROPPED*/

body[data-query*='"status":4'] {
  background-image: url("https://i.imgur.com/l7WvIBc.jpg");
}

/*PLANNED*/

body[data-query*='"status":6'] {
  background-image: url("https://i.imgur.com/l7WvIBc.jpg");
}

/*ALL*/

body[data-query*='"status":7'] {
  background-image: url("https://i.imgur.com/l7WvIBc.jpg");
}

/*
**Your desired avatar
**Note that the best resolution is 120px * 120px
*/

.cover-block::after {
  background-image: url("https://i.imgur.com/IZctu3g.png");
}

/* Your name that displays next to the avatar
** Replace content with "display:none;" if you want to get rid of it
*/

.cover-block::before {
  content: "Simon's Anime List";
}
